In [2]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()
print(schools.info())
print(schools.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None
       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

#### Which NYC schools have best math scores?

Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

In [3]:
# Subset by math scores at least 80% of 800
best_math_schools = schools[schools['average_math'] >= 640]

# Select the columns 'school_name' and 'average_math'
best_math_schools = best_math_schools[['school_name', 'average_math']]

# Sort by 'average_math' in descending order
best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)

# Display the results
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

#### What are the top 10 performing schools based on the combined SAT scores? 

Find the 10 best performing schools based on the total score across the three SAT sections.

In [4]:
# Create new column to store total scores
schools['total_SAT'] = (
    schools['average_math'] + 
    schools['average_reading'] + 
    schools['average_writing']
)

# Select the columns 'school_name' and 'total_SAT'
top_10_schools = schools[['school_name', 'total_SAT']]

# Sort by 'total_SAT' in descending order
top_10_schools = top_10_schools.sort_values(by='total_SAT', ascending=False)

# Select only top 10 schools
top_10_schools = top_10_schools.head(10)

# Display the top 10 schools
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

#### Which single borough has the largest standard deviation in the combined SAT score?

Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

In [5]:
# Group schools by borough
grouped_by_borough = schools.groupby('borough')

# Calculate the standard deviation of 'total_SAT' of each borough
std_by_borough = grouped_by_borough['total_SAT'].std()

# Identify the borough with largest std
largest_std_borough = std_by_borough.idxmax()

# Filter the data for the borough with the largest standard deviation
filtered_borough_data = schools[schools['borough'] == largest_std_borough]

# Calculate the number of schools, average SAT, and standard deviation for that borough
num_schools = filtered_borough_data['borough'].count()
average_SAT = filtered_borough_data['total_SAT'].mean()
std_SAT = filtered_borough_data['total_SAT'].std()

# Round the numeric values to two decimal places
num_schools = round(num_schools, 2)
average_SAT = round(average_SAT, 2)
std_SAT = round(std_SAT, 2)

# Create a DataFrame with the result
largest_std_dev = pd.DataFrame({
    'borough': [largest_std_borough],
    'num_schools': [num_schools],
    'average_SAT': [average_SAT],
    'std_SAT': [std_SAT]
})

# Display the result
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29